mixin navbar(user)
  #navbar
    ul
      if user
        li
          p Welcome #{user.displayName}
      //- attributes == {class: "btn"}
      li
        a(class!=attributes.class, href='/') Home
      li
        if user
          a(class!=attributes.class, href='/users/logout') Logout
        else
          a(class!=attributes.class, href='/auth/google') Login
      if user
        li(class='cart')
          a(class!=attributes.class, href='/users/cart') Cart
