doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="http://www.geoplugin.net/javascript.gp")
    script(src="/javascripts/suggest.js")
    block javascript
